<%= form_with(model: unit_product, local: true) do |form| %>
  <% if unit_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit_product.errors.count, "error") %> prohibited this unit_product from being saved:</h2>

      <ul>
      <% unit_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :default %>
    <%= form.check_box :default %>
  </div>

  <div class="field">
    <%= form.label :product %>
    <%= form.text_field :product %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
