<p id="notice"><%= notice %></p>

<h1>Unit Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Default</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_products.each do |unit_product| %>
      <tr>
        <td><%= unit_product.name %></td>
        <td><%= unit_product.default %></td>
        <td><%= unit_product.product %></td>
        <td><%= link_to 'Show', unit_product %></td>
        <td><%= link_to 'Edit', edit_unit_product_path(unit_product) %></td>
        <td><%= link_to 'Destroy', unit_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit Product', new_unit_product_path %>
