<p id="notice"><%= notice %></p>

<h1>Favorite Products</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_products.each do |favorite_product| %>
      <tr>
        <td><%= favorite_product.user %></td>
        <td><%= favorite_product.product %></td>
        <td><%= link_to 'Show', favorite_product %></td>
        <td><%= link_to 'Edit', edit_favorite_product_path(favorite_product) %></td>
        <td><%= link_to 'Destroy', favorite_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite Product', new_favorite_product_path %>
