<%= form_with(model: exch_node, local: true) do |form| %>
  <% if exch_node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exch_node.errors.count, "error") %> prohibited this exch_node from being saved:</h2>
      <ul>
      <% exch_node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :Узел, class:"form-label"%>
    <%= form.text_field :node, class:"form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label :КодУНФ, class:"form-label"%>
    <%= form.text_field :code_unf, class:"form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label :Сервер_1с, class:"form-label"%>
    <%= form.text_field :ser, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :Каталог_http, class:"form-label" %>
    <%= form.text_field :cat, class:"form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Записать", class: "btn btn-primary"%>
  </div>
<% end %>
