<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'На главную', account_url, class: "btn btn-link", style: "font-size: 20px"%></li>
    <li class="breadcrumb-item"><%= link_to 'Андминистрирование', admin_url, class: "btn btn-link", style: "font-size: 20px"%></li>
  </ol>
</nav>
<p id="notice"><%= notice %></p>
<h1>Узлы обмена с 1с8.3</h1>
<table class="table table-bordered">
  <thead class="table table-dark">
    <tr>
      <th>Node</th>
      <th>Ser</th>
      <th>Cat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exch_nodes.each do |exch_node| %>
      <tr>
        <td><%= exch_node.node %></td>
        <td><%= exch_node.ser %></td>
        <td><%= exch_node.cat %></td>
        <td><%= link_to 'Show', exch_node %></td>
        <td><%= link_to 'Edit', edit_exch_node_path(exch_node) %></td>
        <td><%= link_to 'Destroy', exch_node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exch Node', new_exch_node_path %>
