<tr>
<td><%= line_item_expense_invoice.product&.title%></td>
<td><%= line_item_expense_invoice.pack&.name%></td>
<td><%= line_item_expense_invoice.unit_product&.name%></td>
<td><%= line_item_expense_invoice.qty%></td>
<td><%= line_item_expense_invoice.price%></td>
<td><%= line_item_expense_invoice.retail_price%></td>
<td><%= line_item_expense_invoice.sum%></td>
<td><%= line_item_expense_invoice.retail_sum%></td>
<td><%= line_item_expense_invoice.comment%></td>
</tr>