<%= form_with(model: user, class: "row g-3", local: true) do |form| %>
  <div class="col-md-4">
    <%= form.label :Имя, class: "form-label", for:"validationDefault01" %>
    <%= form.text_field :name,  class:"form-control", id:"validationDefault01"%>

    <%= form.label :Фамилия, class: "form-label", for:"validationDefault02" %>
    <%= form.text_field :surname,  class:"form-control", id:"validationDefault02"%>

    <%= form.label :Email_address, class: "form-label", for:"validationDefault02" %>
    <%= form.email_field :email,  class:"form-control",id:"exampleFormControlInput1", placeholder:"name@example.com"%>
  </div>

    <div class="col-md-4">
    <%= form.label :Пароль, class: "form-label" %>
    <%= form.password_field :password,  class:"form-control"%>

    <%= form.label :Подтвердите_пароль , class: "form-label"%>
    <%= form.password_field :password_confirmation,  class:"form-control"%>

      <%= form.label :Роль, class: "form-label" %>
      <%role_array = User.roles%>
      <%= form.select(:role, options_for_select(role_array, selected:@user.role),{},{ :class => 'form-control' })%>

      <label>Ед. измерения в подборе:</label>
      <% unit_array = Unit.all.map { |unit| [unit.name, unit.id] } %>
      <%= form.select(:unit_id, options_for_select(unit_array, selected:@user.unit_id),{},{ :class => 'form-control' })%>
  </div>

  <div class="col-md-3">
  </div>

  <div class="col-auto" style="margin-top: 20px">
    <%= form.submit "Применить", class: "btn btn-primary"%>
  </div>
<% end %>

<% if user.errors.any? %>
  <% user.errors.full_messages.each do |message| %>
    <p style="color: #B00100"><%= message %></p>
  <% end %>
<% end %>

