<%= form_with(model: user, local: true) do |form| %>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password%>
  </div>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password_confirmation%>
  </div>
  <div class="field">
    <%= form.submit "Создать Аккаунк"%>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
  </div>
<% end %>

<% if user.errors.any? %>
  <% user.errors.full_messages.each do |message| %>
  <% end %>
<% end %>



