<% n = 1 %>
<% @order.line_items.order(:id).each do |line_item| %>
  <tr>
    <td><%= n %></td>
    <td><%= line_item.product.title %></td>
    <% unless line_item.pack.nil? %>
      <td><strong><%= line_item.pack.name %></td>
    <% else %>
      <td></td>
    <% end %>
    <td><strong><%= line_item.comment %></strong></td>
    <td><strong><%= check_box_tag "", "", line_item.stick, :disabled => true %></strong></td>
    <td><strong><%= sprintf("%0.03f", line_item.recount) %></strong></td>
    <td><strong><%= line_item.quantity %></strong></td>
    <td><strong><%= line_item.amount %></strong></td>
    <% unit_ref = Unit.find(line_item.unit_id) %>
    <td><strong><%= unit_ref.name %></strong></td>
    <% eff_price = line_item.weight_price == 0 ? line_item.price : line_item.weight_price %>
    <td><strong><%= sprintf("%0.02f грн.", eff_price) %></strong></td>
    <td><strong><%= sprintf("%0.02f грн.", line_item.recount * eff_price) %></strong></td>
  </tr>
  <% n += 1 %>
<% end %>
