<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @order.client.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @order.shipping_address %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<tbody>
<%= render(@order.line_items)%>
</tbody>
<h5 class="font-weight-bold"><%= sprintf("%0.02f грн.",@order.total_price)%></h5>
<h5 class="font-weight-bold"><%=@order.total_quantity%></h5>
<p>
  <strong>Comments:</strong>
  <%= @order.comments %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
