<!-- End -->
<div id="cart_show">
  <%= form_tag cart_path, method: :put, id: "cartForm" do %>
    <div class="sticky-top" style="background-color: #F7F7F7">
      <div class="row" style="margin-bottom: 20px">
        <div>
          <%= link_to " Продолжить покупку", customer_index_path, class: "fa fa-shopping-basket", style: "margin: 10px;
    font-size: 25px;
    color: dodgerblue;" %>
        </div>
        <div>
          <%= link_to ' Очистить корзину', @cart, method: :delete,
                      data: { confirm: 'Вы уверены?' }, class: "fa fa-trash", style: "margin: 10px;font-size: 25px;color: red;" %>
        </div>
      </div>
      <h2 class="text-center" style="margin-bottom: 15px"> Корзина заказчика</h2>

      <label for="exampleDataList" class="form-label">Покупатель:</label>

      <% unless @cart.client_id.nil? %>
        <% client = Client.find(@cart.client_id) %>
        <% client_str = client.name + " {" + client.id.to_s + "}" %>
      <% else %>
        <% client_str = ""%>
      <% end %>

      <input name="client_id" class="form-control" list="datalistOptions" id="client_input" placeholder="Поиск клинта..." value="<%= client_str %>">
      <datalist id="datalistOptions">
        <% clients = Client.order(:name) %>
        <%#clients = Client.joins(:asighnclients).order(:name)%>
        <% clients.each do |cl| %>
          <option value="<%= cl.name + " {" + cl.id.to_s + "}" %>"></option>
        <% end %>
      </datalist>

      <div class="d-inline-block">
        <div class="form-check">
          <%= check_box_tag 'stick', "", @cart.stick, :onclick => "boxDisable();" %>
          <label class="form-check-label" for="exampleCheck1">Стикеровать все</label>
        </div>
        <div class="form-check">
          <%= check_box_tag 'stick_pack', "", @cart.stick_pack, :onclick => "boxDisable();" %>
          <label class="form-check-label" for="exampleCheck1">Стикеровать только в упаковке</label>
        </div>
      </div>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col" class="">
          <div class="p-2 px-3 text-uppercase">Продукция</div>
        </th>
        <th scope="col" class="">
          <div class="p-2 px-3 text-uppercase">Примечание</div>
        </th>
        <th scope="col" class="">
          <div class="py-2 text-uppercase">Вес, ед.</div>
        </th>
        <th scope="col" class="">
          <div class="p-2 px-3 text-uppercase">Упаковка</div>
        </th>
        <th scope="col" class="">
          <div class="py-2 text-uppercase">Количество, вес</div>
        </th>
        <th scope="col" class="">
          <div class="py-2 text-uppercase">Количество, шт</div>
        </th>
        <th scope="col" class="">
          <div class="py-2 text-uppercase">Пересчет, кг</div>
        </th>
        <th scope="col" class="">
          <div class="py-2 text-uppercase">Стикировать</div>
        </th>
        <th scope="col" class="">
          <div class="py-2 text-uppercase">Цена</div>
        </th>
        <th scope="col" class="">
          <div class="py-2 text-uppercase">Ед.</div>
        </th>
        <th scope="col" class="">
          <div class="py-2 text-uppercase"></div>
        </th>
      </tr>
      </thead>
      <div id="line_items_body">
        <tbody id="line_items">
        <%= render(@cart.line_items) %>
        </tbody>
      </div>
    </table>
    </div>
    <!-- End -->
  <% end #form_tag %>

  <script type="text/javascript">
      //send form to server
      function sendDataServer() {
          var form = document.getElementById('cartForm');
          var formData = new FormData(form)
          Rails.ajax({
              type: 'PUT',
              url: '/carts/' + <%= @cart.id %>,
              data: formData,
              dataType: "json"
          })
      };

      //cart onchange
      function inputFieldOnChange() {
          sendDataServer();
      }

      function boxDisable() {
          sendDataServer();
      };

      function ClientOnInput() {
      }

      //focus client field event
      var clientInput = document.getElementById('client_input');
      clientInput.addEventListener('focusout', (event) => {

          if (clientInput.value != '') {
              sendDataServer();
          }
          // sendDataServer();;
      });


      //clients list search
      var select = document.getElementById("selectClient");
      var oldOptions = Array.apply(undefined, select.options); // копируем все OPTION. По ним будем искать

      document.getElementById('input_search_client').onkeyup = function (e) {
          // спец. сочетания пропускаем
          if (e.ctrlKey || e.altKey || e.metaKey) return;

          select.options.length = 0;
          var regexp = new RegExp(this.value, "ig");
          for (var i = 0; i < oldOptions.length; i++) {
              if (oldOptions[i].innerText.search(regexp) >= 0) {
                  select.appendChild(oldOptions[i]);
              }
          }
      };

  </script>