<p id="notice"><%= notice %></p>

<h1>Упаковка</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>product_id</th>
      <th>Наименование</th>
      <th>Вес,шт</th>
      <th>Описание</th>
      <th>Код вида упаковки</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @packs.each do |pack| %>
      <tr>
        <td><%= pack.id%></td>
        <td><%= pack.product_id%></td>
        <td><%= pack.name %></td>
        <td><%= pack.weight %></td>
        <td><%= pack.description %></td>
        <td><%= pack.type_id%></td>
        <td><%= link_to 'Show', pack %></td>
        <td><%= link_to 'Edit', edit_pack_path(pack) %></td>
        <td><%= link_to 'Destroy', pack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новую', new_pack_path %>
