<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'На главную', account_url, class: "btn btn-link", style: "font-size: 20px"%></li>
    <li class="breadcrumb-item"><%= link_to 'Андминистрирование', admin_url, class: "btn btn-link", style: "font-size: 20px"%></li>
  </ol>
</nav>
<p id="notice"><%= notice %></p>
<h4>Упаковка</h4>
<table class="table table-bordered">
  <thead class="table table-dark">
    <tr>
      <th>Пометка удаления</th>
      <th>id</th>
      <th>product_id</th>
      <th>product</th>
      <th>Наименование</th>
      <th>Вес,шт</th>
      <th>Описание</th>
      <th>Код вида упаковки</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @packs.each do |pack| %>
      <tr>
        <td><%= pack.deletion_mark%></td>
        <td><%= pack.id%></td>
        <td><%= pack.product_id%></td>
        <td><%= pack.product.nil? ? '' : pack.product.title %></td>
        <td><%= pack.name %></td>
        <td><%= pack.weight %></td>
        <td><%= pack.description %></td>
        <td><%= pack.type_id%></td>
        <td><%= link_to 'Show', pack %></td>
        <td><%= link_to 'Edit', edit_pack_path(pack) %></td>
        <td><%= link_to 'Destroy', pack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новую', new_pack_path %>
