<p id="notice"><%= notice %></p>

<p>
  <strong>Наименование:</strong>
  <%= @pack.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @pack.description %>
</p>

<p>
  <strong>Код вида упаковки:</strong>
  <%= @pack.type_id %>
</p>

<%= link_to 'Edit', edit_pack_path(@pack) %> |
<%= link_to 'Back', packs_path %>
