<%= form_with(model: storage_place, local: true) do |form| %>
  <% if storage_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(storage_place.errors.count, "error") %> prohibited this storage_place from being saved:</h2>

      <ul>
      <% storage_place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :unf_id %>
    <%= form.text_field :unf_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
