<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @address.description %>
</p>

<p>
  <strong>Client:</strong>
  <%= @address.client %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
