<p id="notice"><%= notice %></p>

<h1>Единицы</h1>

<table class="table">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Штучная ед.</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <td><%= unit.piece %></td>
        <td><%= link_to 'Просмотр', unit %></td>
        <td><%= link_to 'Редактирование', edit_unit_path(unit) %></td>
        <td><%= link_to 'Удалить', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая единица', new_unit_path %>
