<p id="notice"><%= notice %></p>

<h1>Pricetypes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pricetypes.each do |pricetype| %>
      <tr>
        <td><%= pricetype.name %></td>
        <td><%= link_to 'Show', pricetype %></td>
        <td><%= link_to 'Edit', edit_pricetype_path(pricetype) %></td>
        <td><%= link_to 'Destroy', pricetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pricetype', new_pricetype_path %>
