
<%= form_tag line_items_path({:id => @product_id, :pack_id => @pack_id}), method: :post, remote: true do %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @product_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form>
        <div class="form-row">
          <div class="col">
            <%piece = if @unit.nil?
                        false
                      else
                        @unit.piece ? true : false
                      end%>
            <%= number_field_tag 'qty', '',  :step => piece ? 1 : 0.01, class: "form-control", id: "num_field", placeholder: piece ? '1' : '0.01'%>
          </div>
          <div class="col">
            <%= select_tag "units", options_from_collection_for_select(Unit.all, "id", "name", current_user.unit_id.nil? ? "1" : current_user.unit_id),
                           {:class => 'form-control', :id => 'units'} %>
          </div>
        </div>
          <br>
        <div class="form-floating">
          <%=text_area_tag "comment", "",class:"form-control", id:"floatingTextarea", placeholder:"Комментарий..." %>
          </div>
        </form>
      </div>
      <% if @has_line_item %>
        <div class="modal-body" style="color: #B00100">Данный товар уже в корзине!!!</div>
      <%end%>
      <div class="modal-footer">
        <%= submit_tag 'В корзину', class: 'btn btn-primary', id:'inCartSubmit' %>
        <%= submit_tag 'Закрыть', class: 'btn btn-primary', :data => {:dismiss => "modal"} %>
      </div>
    </div>
  </div>
<% end %>

