<div class="wrapper" >
  <div id="content" style="margin-left: 90px">
    <div class="row">
      <% @products.each do |product| %>
        <%if product.belong_another_client(@client_id)%>
            <%next%>
          <%end%>
        <div class="card" style="width: 18rem; margin: 10px">
          <%= image_tag(product['image_url'], class: "card-img-top", size: "200x200") %>
          <div class="card-body">
            <h5 class="card-title"><%= product['title'] %></h5>
            <p class="card-text" style="color: coral"><%= product['parent_name'] %></p>
            <p style="color: #B00100;font-size:25px"><%= sprintf("%0.02f грн.", Product.get_price(product['id'], @price_type_id)) %>
              <% style_string = @favorite_products.find_by(product_id: product.id, user_id: current_user.id, client_id: session[:client_id]).nil? ? "font-size: 25px; margin-left: 10px; color: #a4a5b1" : "font-size: 25px; margin-left: 10px; color: #B00100" %>
              <%= link_to '', favorite_products_path({ :favorite_product => { :user_id => current_user.id, :product_id => product.id, :pack_id => "" } }),
                          method: :post, class: "fa fa-heart", id: "heard_" + product.id.to_s,
                          style: style_string,
                          remote: true %>
              <% if @client_id.nil? %>
                <%= link_to '', "#", class: 'fa fa-cart-plus', style: 'margin-left:10px;font-size:30px;color:#B00100;',
                            :data => { :toggle => 'modal', :target => '#modal-window' }, remote: true, data: @client_id.nil? ? { confirm: 'Выберите покупателя' } : "" %>

              <% else %>
                <%= link_to '', modal_product_qty_path(:id => product['id'], :pack_id => nil, :product_name => product['title'], :pack_name => '', :unit_name => 'кг'), class: 'fa fa-cart-plus', style: 'margin-left:10px;font-size:30px;color:#B00100;',
                            :data => { :toggle => 'modal', :target => '#modal-window' }, remote: true %>
              <% end %>
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <% packs = Product.get_packs_product(product['id'], @favorite, @client_id) %>
            <% packs.each do |pack| %>
              <li class="list-group-item"> <%= pack['pack_name'] %>
                <p style="color: forestgreen;font-size:25px"><%= sprintf("%0.02f грн.", Product.get_price(product['id'], @price_type_id, pack['pack_id'])) %>
                  <% style_string_pack = @favorite_products.find_by(product_id: product.id, user_id: current_user.id, client_id: session[:client_id], pack_id: pack['pack_id']).nil? ? "font-size: 25px; margin-left: 10px; color: #a4a5b1" : "font-size: 25px; margin-left: 10px; color: #B00100" %>
                  <%= link_to '', favorite_products_path({ :favorite_product => { :user_id => current_user.id, :product_id => product.id, :pack_id => pack['pack_id'] } }),
                              method: :post, class: "fa fa-heart", id: "heard_" + product.id.to_s + pack['pack_id'].to_s,
                              style: style_string_pack,
                              remote: true %>

                  <% if @client_id.nil? %>
                    <%= link_to '', "#", class: 'fa fa-cart-plus', style: 'margin-left:10px;font-size:30px;color: forestgreen;',
                                :data => { :toggle => 'modal', :target => '#modal-window' }, remote: true, data: @client_id.nil? ? { confirm: 'Выберите покупателя' } : "" %>

                  <% else %>
                    <%= link_to '', modal_product_qty_path(:id => product['id'], :pack_id => pack['pack_id'], :product_name => product['title'], :pack_name => pack['pack_name'], :unit_name => 'шт'), class: 'fa fa-cart-plus', style: 'margin-left:10px;font-size:30px;color: forestgreen;',
                                :data => { :toggle => 'modal', :target => '#modal-window' }, remote: true %>
                  <% end %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

<footer class="footer">
  <span class="text-muted"><%= paginate @products %></span>
</footer>
