
<div class="container-fluid">
  <p id="info" style="display: none">Text to popup</p>
  <%= render partial: "layouts/menu" %>

  <!-- Modal add qty -->
  <div id="modal-window" class="modal fade"  tabindex="-1"
       role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= render partial: 'line_items/modal_qty' %>
  </div>
  <!-- Modal -->

  <!-- Modal  products tree -->
  <div class="modal fade" id="productTreeModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <%= render partial: 'products/product_tree_modal' %>
  </div>

  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="active">

      <div class="sidebar-header" style="margin-top: 70px">
        <h3>Фильтр продукции</h3>
      </div>

      <ul class="list-unstyled components">
        <li> <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productTreeModal">
            Выбор категории продукции
          </button>
        </li>
        <li>
          <%= form_tag(customer_index_path, method: :get) do %>
          <li style="font-size: 25px;margin-top: 10px;">Категория:</li>
          <li>
            <div id="group_select" style="margin: 7px">
              <%= text_field_tag "group_id", params[:group_id], type: "hidden" %>
              <%= text_field_tag "group", params[:group_name].nil? ? 'Без категории' : params[:group_name], :readonly => true,  class: "form-control form-control-sm", id: "group_tx_fld" %>
            </div>
          </li>
          <li style="font-size: 25px;margin-top: 10px;">Покупатель:</li>
          <div style="margin: 7px">
          <input class="form-control form-control-sm" type="text" value="" id="input_search_client"
                 style="background: rgba(40, 80, 90, 0.7); color: aliceblue; margin-bottom: 5px;" placeholder="Поиск клинта...">

          <%clients = Client.joins(:asighnclients).order(:name)%>
          </div>
            <li>
              <div style="margin: 7px">
              <%= select_tag 'client_id', options_from_collection_for_select(clients, 'id', 'name',params[:client_id]), class: "form-control form-control-sm",id: "selectClient",
                             style: "background: rgba(40, 80, 90, 0.7); color: aliceblue;" %>
              </div>
            </li>


          <div class="form-check" , style="margin: 5px">
            <%= check_box_tag :favorite, value = 1, params[:favorite], class: "form-check-input" %>
            <label class="form-check-label" for="defaultCheck1">
              Только избранные товары
            </label>
          </div>
          <%= button_to "  Применить  ", customer_index_path, method: :get, class: 'btn btn-primary', style: "margin: 5px;" %>
          <%= button_to "Показать все", customer_index_path, method: :get, class: 'btn btn-primary', style: "margin: 5px;" %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div id="content" style="margin-left: 90px">
      <div class="row">
          <% @products.each do |product| %>
              <div class="card" style="width: 18rem; margin: 10px">
                <%= image_tag(product['image_url'], class: "card-img-top", size: "200x200") %>
                <div class="card-body">
                  <h5 class="card-title"><%= product['title'] %></h5>
                  <p class="card-text" style="color: coral"><%= product['parent_name'] %></p>
                  <p style="color: #B00100;font-size:25px"><%= sprintf("%0.02f грн.", Product.get_price(product['id'])) %>
                    <% style_string = @favorite_products.find_by(product_id: product.id, user_id: @current_user.id, client_id: session[:client_id]).nil? ? "font-size: 25px; margin-left: 10px; color: #a4a5b1" : "font-size: 25px; margin-left: 10px; color: #B00100" %>
                    <%= link_to '', favorite_products_path({ :favorite_product => { :user_id => @current_user.id, :product_id => product.id, :pack_id => ""} } ),
                                method: :post, class: "fa fa-heart", id: "heard_" + product.id.to_s,
                                style: style_string,
                                remote: true %>
                    <%= link_to '', modal_product_qty_path(:id => product['id'], :pack_id => nil, :product_name => product['title'], :pack_name => '', :unit_name => 'кг'), class: 'fa fa-cart-plus', style: 'margin-left:10px;font-size:30px;color:#B00100;',
                                :data => { :toggle => 'modal', :target => '#modal-window' }, remote: true %>
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <% packs = Product.get_packs_product(product['id'],@favorite, @client_id) %>
                  <% packs.each do |pack| %>
                    <li class="list-group-item"> <%= pack['pack_name'] %>
                      <p style="color: forestgreen;font-size:25px"><%= sprintf("%0.02f грн.", Product.get_price(product['id'])) %>
                        <% style_string_pack = @favorite_products.find_by(product_id: product.id, user_id: @current_user.id, client_id: session[:client_id], pack_id: pack['pack_id']).nil? ? "font-size: 25px; margin-left: 10px; color: #a4a5b1" : "font-size: 25px; margin-left: 10px; color: #B00100" %>
                        <%= link_to '', favorite_products_path({ :favorite_product => { :user_id => @current_user.id, :product_id => product.id, :pack_id => pack['pack_id']} }),
                                    method: :post, class: "fa fa-heart", id: "heard_" + product.id.to_s + pack['pack_id'].to_s,
                                    style: style_string_pack,
                                    remote: true %>
                        <%= link_to '', modal_product_qty_path(:id => product['id'], :pack_id => pack['pack_id'], :product_name => product['title'], :pack_name => pack['pack_name'], :unit_name => 'шт'), class: 'fa fa-cart-plus', style: 'margin-left:10px;font-size:30px;color: forestgreen;',
                                    :data => { :toggle => 'modal', :target => '#modal-window' }, remote: true %>
                      </p>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
      </div>
    </div>
  </div>

  <footer class="footer">
    <span class="text-muted"><%= paginate @products %></span>
  </footer>

  <script type="text/javascript" charset="utf-8">
      //clients list search
      var select = document.getElementById("selectClient");
      var oldOptions = Array.apply(undefined, select.options); // копируем все OPTION. По ним будем искать

      document.getElementById('input_search_client').onkeyup = function(e) {
          // спец. сочетания пропускаем
          if (e.ctrlKey || e.altKey || e.metaKey) return;

          select.options.length = 0;
          var regexp = new RegExp(this.value, "ig");
          for (var i = 0; i < oldOptions.length; i++) {
              if (oldOptions[i].innerText.search(regexp) >= 0) {
                  select.appendChild(oldOptions[i]);
              }
          }
      };

      var e = document.getElementById('cart_qty');
      var ecl = document.getElementById('close_pop_cart')

      e.onmouseover = function() {
          document.getElementById('pop_cart').style.display = 'block';
         };
      e.onmouseout = function() {
        // document.getElementById('pop_cart').style.display = 'none';
      }
      onclickPopCart = function(){
          document.getElementById('pop_cart').style.display = 'none';
      }

  </script>
</div>

