<nav class="navbar fixed-top navbar-light" style="background-color: maroon;">

  <%= form_tag(customer_index_path, method: :get, class: 'form-inline', id: 'filter') do %>
    <div class="dropdown">
      <button class="btn btn-primary" type="button" data-toggle="dropdown" aria-expanded="false" style="margin-right: 5px">
        Меню
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-offset="2">
        <div class="inner-dropdown">
          <%= link_to 'Продукция', customer_index_path, id: '00000000017', class: "dropdown-item", onmouseover: "getMenu('00000000017')" %>
        </div>
        <%= link_to 'К списку заказов', orders_url, class: "dropdown-item"%>
        <%= link_to 'На главную', account_url, class: "dropdown-item" %>
      </div>
    </div>
    <div style="display: flex;margin-right: -20px;">
      <%= text_field_tag :Product_name, params[:Product_name], placeholder: 'Наименование', class: 'form-control mr-sm-2', tabindex: 1, id: 'search' %>
      <%= link_to '', customer_index_path, class: 'fa fa-times-circle', style: 'font-size:20px;margin-right:5px;margin-top: 9px;position:relative;
    left: -33px;color:dark;aria-hidden="true"' %>
    </div>
    <div class="row">
      <!--
       search product field
      -->
      <div class="col">
        <div style="display: inherit;">
          <%= submit_tag 'Поиск', name: nil, class: 'btn btn-outline-light' %>
        </div>
      </div>
      <!--
      end search
      -->
      <!--
      set client block
      -->
      <% unless @client_id.nil? %>
        <% client = Client.find(@client_id) %>
        <% client_str = client.name + " {" + client.id.to_s + "}" %>
      <% else %>
        <% client_str = "" %>
      <% end %>
      <div class="col">
        <div style="display: flex ">
          <input name="client_id" class="form-control" list="datalistOptions" id="client_input" placeholder="Поиск клинта..." style="width: 500px" value="<%= client_str %>" onChange="updateListProducts()">
          <a href="#" class="fa fa-times-circle" style="font-size: 20px; color: white; margin-top: 9px;position:relative; margin-left: 5px" onclick="ClearClient()"></a>
        </div>

        <datalist id="datalistOptions">
          <% clients = current_user.access_group_id.nil? ? [] : Client.where(:access_group_id => current_user.access_group_id).order(:name) %>
          <%#clients = Client.joins(:asighnclients).order(:name)%>
          <% clients.each do |cl| %>
            <option value="<%= cl.name + " {" + cl.id.to_s + "}" %>"></option>
          <% end %>
        </datalist>
      </div>
    </div>
    <!--
    end set client
    -->
  <% end %>
  <% if logged_in? %>
    <div id="user_cart">
      <%= link_to edit_user_path(current_user), :action => 'go' do %>
        <div id="user">
          <div id="user_avatar">
            <%= image_tag("user.png", class: "img-thumbnail", size: "40x40") %>
          </div>
          <div id="user_name">
            <%= current_user.name %>
          </div>
        </div>
      <% end %>
  <% end %>

  <div id="cart_qty">
    <%= link_to '', @cart, class: 'fa fa-shopping-cart', style: 'font-size:40px;color:dark;hover:text_decoration:none, color:white; ' %>
    <%= link_to @cart, :action => 'go' do %>
      <div id="cart_total_quantity">
        <%= sprintf("%0.02fкг", @cart.total_quantity) %>
      </div>
    <% end %>
  </div>
  </div>
  <div id="pop_cart">
    <%= render partial: ('carts/pop_cart') %>
  </div>

</nav>

<script type="text/javascript" charset="utf-8">

    var clientInput = document.getElementById('client_input');

    // set height for table-scroll element
    $('#table-scroll').css("height", "<%= @cart.line_items.size()>10? 750 : (@cart.line_items.size() == 0? 35 : @cart.line_items.size()*80)%>");

    //return product subdirectory
    function getMenu(group_id) {
        var parent = document.getElementById(group_id);
        var element = document.getElementById("sub_" + group_id);
        var top = parent.offsetTop - 8;
        if (element == null) {
            getSubDirectoryServer(group_id, top);
        }
    }

    function getSubDirectoryServer(group_id, top) {
        Rails.ajax({
            type: "post",
            url: '/products/return_subdirectory/' + group_id + '/' + top
        })
    }

    //end return product subdirectory

    //set focus on searching field
    let search = document.querySelector('#search')

    function ready() {
        search.focus();
    }

    //send data on change form elements
    function updateListProducts() {

        if (clientInput.value != '') {
            Rails.ajax({
                type: "get",
                url: '/',
                data: $("form#filter").serialize()
            })
        }
       // location.reload();
    }

    //onClick on clear client input field
    function ClearClient() {
        clientInput.value = "";
    }

</script>
