<%= stylesheet_link_tag "sidebar" %>

<div id="wrapper">
  <div class="overlay"></div>

  <%# ===== SIDEBAR ===== %>
  <div id="sidebar-wrapper">
    <%= form_tag '', id: "sidebar_tree" do %>

      <%# Логотип %>
      <div class="sidebar-header">
        <div class="sidebar-brand">Український М'ясокомбінат</div>
      </div>

      <%# Замовник %>
      <div class="sidebar-client-wrap">
        <%= hidden_field_tag :client_id, @client_id %>
        <div class="sidebar-client-row">
          <% if @clients.size > 1 %>
            <%
              selected_name = @client_id.present? ? Client.find_by(id: @client_id)&.name : nil
              is_placeholder = selected_name.blank?
            %>
            <button type="button"
                    class="sidebar-client-btn"
                    id="openClientPicker"
                    data-toggle="modal"
                    data-target="#clientPickerModal">
              <i class="fa fa-building-o sidebar-client-btn-icon"></i>
              <span id="clientBtnLabel"
                    class="sidebar-client-btn-label <%= 'is-placeholder' if is_placeholder %>">
                <%= selected_name.presence || 'Оберіть замовника...' %>
              </span>
              <i class="fa fa-chevron-down sidebar-client-btn-arrow"></i>
            </button>
            <a href="#"
               class="sidebar-client-clear fa fa-times-circle"
               id="clearBtn"
               onclick="ClearClient()"></a>
          <% elsif @clients.size == 1 %>
            <div class="sidebar-client-static">
              <i class="fa fa-building-o"></i>
              <span><%= @clients.first&.name %></span>
            </div>
          <% end %>
        </div>

        <div class="sidebar-price-type" id="price_type">
          <i class="fa fa-money"></i>
          Тип прайсу: <strong><%= @price_type ? @price_type.name : '' %></strong>
        </div>
        <% if @cart %>
          <div class="sidebar-cart-info">
            <i class="fa fa-shopping-basket"></i>
            Поточний кошик <strong>#<%= @cart.id %></strong>
          </div>
        <% end %>
      </div>

      <%# Навігація %>
      <ul class="sidebar-nav">
        <li>
          <%= link_to account_url do %>
            <i class="fa fa-home"></i> На головну
          <% end %>
        </li>
        <li>
          <%= link_to carts_url do %>
            <i class="fa fa-shopping-cart"></i> Поточні покупки
          <% end %>
        </li>
        <li>
          <%= link_to orders_url do %>
            <i class="fa fa-file-text-o"></i> Оформлені замовлення
          <% end %>
        </li>
      </ul>

      <%# Дерево товарів — тільки в режимі карток %>
      <% if @show_as_cards %>
      <div class="sidebar-tree-wrap">
        <div class="sidebar-tree-label">
          Каталог продукції
          <span id="sidebar-reset-btn">
            <% if session[:selected_categories].present? %>
              <a href="#"
                 class="sidebar-tree-reset"
                 id="clear-categories-btn"
                 title="Скинути фільтр категорій">
                <i class="fa fa-times-circle"></i> скинути
              </a>
            <% end %>
          </span>
        </div>
        <ul class="tree" id="tree_id">
          <li>
            <span class="caret">Всі категорії</span>
            <%= @products_tree.html_safe %>
          </li>
        </ul>
      </div>
      <% end %>

    <% end %>
  </div>

  <%# ===== CONTENT ===== %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

          <%# Hamburger %>
          <button type="button"
                  class="hamburger is-closed"
                  id="menu-toggle"
                  data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button>

          <div class="container-fluid">
            <%= render partial: "layouts/menu" %>
            <div id="customer_content">
              <%= render partial: 'customer/content' %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<% if @clients.size > 1 %>
<div class="modal fade" id="clientPickerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog client-picker-dialog" role="document">
    <div class="modal-content client-picker-content">
      <div class="client-picker-header">
        <span class="client-picker-title">
          <i class="fa fa-building-o"></i>&nbsp; Вибір контрагента
        </span>
        <button type="button" class="client-picker-close" data-dismiss="modal">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="client-picker-search-wrap">
        <i class="fa fa-search client-picker-search-icon"></i>
        <input type="text"
               id="clientPickerSearch"
               class="client-picker-search"
               placeholder="Пошук контрагента..."
               autocomplete="off">
      </div>
      <div class="client-picker-body" id="clientTreeContainer">
        <%= clients_tree_html %>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= javascript_include_tag "sidebar.js" %>