<!DOCTYPE html>
<html>
  <head>
    <title>Український м'ясокомбінат</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <header>

  </header>

  <body>
    <%= yield %>
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript">
      $(document).ready(function () {
          $('#sidebarCollapse').on('click', function () {
              $('#sidebar').toggleClass('active');
          });

      });

      $('.has-clear input[type="text"]').on('input propertychange', function() {
          var $this = $(this);
          var visible = Boolean($this.val());
          $this.siblings('.form-control-clear').toggleClass('hidden', !visible);
      }).trigger('propertychange');

      $('.form-control-clear').click(function() {
          $(this).siblings('input[type="text"]').val('')
              .trigger('propertychange').focus();
      });
  </script>
</html>
